@font-face {
    font-family: Bouncy;
    src: url(../fonts/Bouncy-PERSONAL_USE_ONLY.otf);
}
@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir\ Light.ttf);
}

@font-face {
    font-family: Creepster;
    src: url(../fonts/Creepster-Regular.ttf);
}
