@font-face {
  font-family: Bouncy;
  src: url(../fonts/Bouncy-PERSONAL_USE_ONLY.otf);
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir\ Light.ttf);
}
@font-face {
  font-family: Creepster;
  src: url(../fonts/Creepster-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes animate {
  0% {
    max-width: 0%;
  }
  20% {
    max-width: 20%;
  }
  90% {
    max-width: 50%;
  }
  93% {
    max-width: 80%;
  }
  100% {
    max-width: 100%;
  }
}
@keyframes portal {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    width: 10px;
  }
  70% {
    width: 20px;
  }
  90% {
    opacity: 1;
  }
  99% {
    width: 30px;
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dissapear {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes walking {
  0%, 99% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(3px);
  }
  50% {
    transform: translateX(10px);
  }
  98% {
    transform: translateX(35px);
    opacity: 1;
  }
}
@keyframes runnin {
  0%, 99% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  15% {
    transform: translateX(0px);
  }
  98% {
    opacity: 1;
    transform: translateX(5vw);
  }
}
@keyframes kick {
  0%, 99% {
    opacity: 0;
  }
  1%, 98% {
    opacity: 1;
  }
  2%, 100% {
    transform: translateX(6.5vw);
  }
}
@keyframes fall {
  0%, 95% {
    opacity: 0;
  }
  1%, 94% {
    opacity: 1;
  }
  10% {
    transform: translate(-5vw, 1vh);
  }
  50% {
    transform: translate(7vw, 15vh);
    rotate: 360deg;
  }
  100% {
    transform: translate(7vw, 15vh);
    rotate: 360deg;
  }
}
@keyframes glow {
  0% {
    scale: 1;
  }
  10% {
    font-size: 50px;
    opacity: 1;
  }
  50% {
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(5);
  }
}
@keyframes appear {
  0% {
    font-size: 1px;
    opacity: 0;
  }
  75% {
    font-size: 7px;
    opacity: 0.5;
  }
  100% {
    font-size: 12px;
    opacity: 1;
  }
}
@keyframes showtxt {
  0% {
    transform: translateX(-100%);
    width: 100%;
  }
  99% {
    width: 0%;
  }
  100% {
    width: 0%;
    opacity: 0.3;
  }
}
.loading-container {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 15, 5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-container .light {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 20%;
  right: 20%;
  rotate: -35deg;
  background: radial-gradient(ellipse, rgba(255, 240, 200, 0.7) 0%, rgba(255, 230, 180, 0.4) 30%, rgba(255, 210, 140, 0.2) 60%, transparent 90%);
  transform: translateX(-50%) scale(1.8);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -10px 20px rgba(255, 240, 200, 0.5), 0 0 80px rgba(255, 240, 200, 0.8);
}
.loading-container .bot {
  top: 80%;
  right: -50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -10px 20px rgba(255, 240, 200, 0.5), 0 0 50px rgba(255, 240, 200, 0.8);
}
.loading-container .footer {
  position: absolute;
  bottom: 50px;
  left: 50vw;
  transform: translateX(-50%);
  font-family: Avenir;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: #f2f2f2;
}
.loading-container .footer .hide {
  background-color: rgb(18, 15, 5);
  position: absolute;
  height: 100%;
  width: 50px;
  animation: showtxt 10s ease-in;
}
.loading-container .header-txt {
  position: absolute;
  top: 100px;
  left: 50vw;
  transform: translateX(-50%);
  font-family: Avenir;
  letter-spacing: 0.05em;
  font-size: 24px;
  color: #f2f2f2;
  opacity: 0.9;
}
.loading-container .x {
  position: relative;
  transform: translate(7vw, calc(15vh + 30px + 47.5px));
  color: white;
  opacity: 0;
  animation: glow 2s forwards;
  animation-delay: 17s;
  font-family: Creepster;
  letter-spacing: 0.05em;
  font-size: 20px;
  color: white;
}
.loading-container .x::after {
  content: "eLa";
  font-family: Creepster;
  letter-spacing: 0.05em;
  font-size: 12px;
  color: white;
  animation: appear 2s forwards;
  animation-delay: 19s;
  text-decoration: underline;
  opacity: 0;
}
.loading-container .stick-man {
  width: 100%;
  max-width: 23vw;
  min-width: 200px;
  height: 85px;
}
.loading-container .stick-man .portal {
  width: 10px;
  height: 45px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-image: radial-gradient(#7d7d7d, white, #c6c6c6, white);
  position: relative;
  left: 4px;
  transform: translateY(40px);
  animation: portal 3s forwards;
}
.loading-container .stick-man .stickman {
  width: 40px;
  height: 40px;
  filter: invert(85%);
  position: relative;
  opacity: 0;
}
.loading-container .stick-man #stickman-pc {
  place-self: center;
  transform: translateX(5vw);
  animation: dissapear 15s forwards;
}
.loading-container .stick-man #stickman-walker {
  animation: walking 5s forwards;
  animation-delay: 1.5s;
  z-index: 51;
}
.loading-container .stick-man #stickman-runner {
  animation: runnin 9s forwards;
  animation-delay: 5.49s;
}
.loading-container .stick-man #stickman-kungfu {
  transform: translateX(3.5vw);
  animation: kick 2s forwards;
  animation-delay: 14.5s;
}
.loading-container .stick-man #stickman-ouch {
  animation: fall 3s forwards;
  animation-delay: 14.7s;
  transform: translateX(-3vw);
  rotate: 180deg;
}

.progress-bar-main-container {
  width: 100%;
  max-width: 30vw;
  min-width: 250px;
  background-color: rgb(18, 15, 7);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar-main-container .bar {
  width: 100%;
  max-width: 80%;
  height: 30px;
  padding: 4px;
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px rgba(59, 59, 59, 0.9);
}
.progress-bar-main-container .bar h2 {
  margin-top: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Bouncy;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: #7d7d7d;
}
.progress-bar-main-container .bar .mainBar {
  width: 100%;
  max-width: 0;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  animation: animate 15s forwards;
  animation-delay: 3.33s;
}/*# sourceMappingURL=style.css.map */