@use "main" as *;
@use "mixins" as *;
@use "variables" as *;
@use "keyframes" as *;
// =============Loading screen ======================
.loading-container {
  width: 100%;
  height: 100%;
  background-color: $primaryColor;
  position: fixed;
  top: 0;
  left: 0;
  @include flex-center;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease;

  .light {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 20%;
    right: 20%;
    rotate: -35deg;
    background: radial-gradient(
      ellipse,
      rgba(255, 240, 200, 0.7) 0%,
      rgba(255, 230, 180, 0.4) 30%,
      rgba(255, 210, 140, 0.2) 60%,
      transparent 90%
    );
    transform: translateX(-50%) scale(1.8);
    box-shadow:
      0 10px 25px rgba(0, 0, 0, 0.2),
      inset 0 2px 5px rgba(255, 255, 255, 0.5),
      inset 0 -10px 20px rgba(255, 240, 200, 0.5),
      0 0 80px rgba(255, 240, 200, 0.8);

    @media (max-width: 1450px) {
      top: 0;
    }
    @media (max-width: 1012px) {
      right: 0;
    }
  }

  .bot {
    top: 80%;
    right: -50%;
    box-shadow:
      0 10px 25px rgba(0, 0, 0, 0.2),
      inset 0 2px 5px rgba(255, 255, 255, 0.5),
      inset 0 -10px 20px rgba(255, 240, 200, 0.5),
      0 0 20px rgba(255, 240, 200, 0.8);

    @media (max-width: 1279px) {
      display: none;
    }
  }

  .footer_loadingScreen {
    position: absolute;
    text-align: center;
    bottom: 50px;
    left: 50vw;
    max-width: 600px;
    width: 80%;
    flex-wrap: nowrap;
    transform: translateX(-50%);
    @include Avenir_Light($textColor, 18px);
    @media (max-width: 750px) {
      max-width: 350px;
    }
    @media (max-width: 425px) {
      max-width: 250px;
    }
    .hide {
      //   transform: translateX(-100%);
      background-color: $primaryColor;
      position: absolute;
      height: 25px;
      width: 0;
      animation: showtxt 7s ease-in;
      @media (max-width: 750px) {
        animation: showtxt2 7s ease-in;
      }
    }
  }

  .header-txt {
    width: 350px;
    position: absolute;
    top: 100px;
    left: 50vw;
    transform: translateX(-50%);
    @include Avenir_Light($textColor, 24px);
    opacity: 0.9;

    @media (max-width: 500px) {
      font-size: 20px;
      transform: translateX(-40%);
    }
  }

  .x {
    position: relative;
    transform: translate(0, 165px);
    color: white;
    opacity: 0;
    animation: glow 2s forwards;
    animation-delay: 3.5s;
    @include Creepster(white, 20px);
    @media (max-width: 500px) {
      font-size: 16px;
    }

    &::after {
      content: "eLa";
      @include Creepster(white, 12px);
      animation: appear 2s forwards;
      animation-delay: 6s;
      text-decoration: underline;
      opacity: 0;
    }
  }

  .progress-bar-main-container {
    width: 100%;
    max-width: 30vw;
    min-width: 250px;
    background-color: $diffBlack;
    border-radius: 20px;
    @include flex-center;
    transition: opacity 1s ease;
    .bar {
      width: 100%;
      max-width: 80%;
      height: 30px;
      padding: 4px;
      border: 2px solid white;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      align-items: center;
      box-shadow: 0 0 30px rgba(59, 59, 59, 0.9);

      h2 {
        margin-top: 3px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include Bouncy($darkGray, 18px);
      }

      .mainBar {
        width: 100%;
        max-width: 0;
        height: 20px;
        background-color: white;
        border-radius: 10px;
        animation: animate 3s forwards;
        animation-delay: 2.33s;
      }
    }
  }
  .cloud {
    position: relative;
    top: 135px;
    left: 0;
    scale: 0.35;
    width: 320px;
    height: 100px;
    border-radius: 100px;
    filter: drop-shadow(8px 8px 0 #0005);
    animation: animateCloud 3.5s steps(1) infinite;
    @media (max-height: 740px) {
      scale: 0.2;
    }

    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: 40px;
      width: 110px;
      height: 110px;
      border-radius: 100%;
      background: #484f59;
      box-shadow: 90px -10px 0 30px #484f59;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: #484f59;
      border-radius: 100px;
      z-index: 1000;
    }

    .drop {
      position: absolute;
      top: 0;
      width: 2px;
      height: 10px;
      transform-origin: bottom;
      background: #05a2eb;
      animation: drops 2s linear infinite;
    }
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
  }
}
// =============End of Loading screen ======================
