@font-face {
  font-family: Bouncy;
  src: url(../fonts/Bouncy-PERSONAL_USE_ONLY.otf);
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir\ Light.ttf);
}
@font-face {
  font-family: Creepster;
  src: url(../fonts/Creepster-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#bg_main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.79);
  z-index: -1;
  pointer-events: none;
}

.border {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: rgba(45, 45, 45, 0.045);
  border: 2px solid rgba(79, 79, 79, 0.23);
  pointer-events: none;
  width: 93%;
  height: 87%;
}

.moon {
  position: relative;
  cursor: pointer;
  top: -12vh;
  left: 65vw;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 240, 230, 0.9) 4%, rgba(245, 225, 205, 0.85) 100%);
  box-shadow: 0 0 105px 2px rgba(220, 185, 170, 0.7), 0 0 50px 4px rgba(200, 180, 160, 0.8), 0 0 145px 2px rgba(220, 190, 170, 0.7);
  animation: moon-light 5s infinite;
}
@media (max-width: 1000px) {
  .moon {
    width: 150px;
    height: 150px;
  }
}

.crat {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgba(194, 168, 140, 0.475);
  box-shadow: inset 5px 10px 25px 4px rgba(199, 177, 171, 0.9), inset -3px -3px 15px rgba(255, 245, 235, 0.5);
}
@media (max-width: 1000px) {
  .crat {
    top: 95px;
    left: 15px;
    width: 15px;
    height: 15px;
  }
}

.crat2 {
  position: absolute;
  top: 115px;
  left: 32px;
  width: 10px;
  height: 10px;
}

.crat3 {
  position: absolute;
  top: 130px;
  left: 170px;
  width: 20px;
  height: 20px;
}
@media (max-width: 1000px) {
  .crat3 {
    display: none;
  }
}

.crat4 {
  position: absolute;
  top: 100px;
  left: 115px;
  width: 25px;
  height: 25px;
}
@media (max-width: 1000px) {
  .crat4 {
    left: 70px;
    top: 95px;
  }
}

.crat5 {
  top: 185px;
  left: 70px;
  width: 10px;
  height: 10px;
}
@media (max-width: 1000px) {
  .crat5 {
    top: 135px;
  }
}

.crat6 {
  top: 180px;
  left: 115px;
  width: 22px;
  height: 22px;
}
@media (max-width: 1000px) {
  .crat6 {
    display: none;
  }
}

.crat7 {
  top: 130px;
  left: 135px;
  width: 6px;
  height: 6px;
}
@media (max-width: 1000px) {
  .crat7 {
    top: 110px;
    left: 100px;
  }
}

.crat8 {
  top: 134px;
  left: 147px;
  width: 1px;
  height: 1px;
  border: 2px solid rgba(194, 168, 140, 0.475);
}
@media (max-width: 1000px) {
  .crat8 {
    top: 110px;
    left: 50px;
  }
}

@keyframes animate {
  0% {
    max-width: 0%;
  }
  20% {
    max-width: 20%;
  }
  90% {
    max-width: 50%;
  }
  93% {
    max-width: 80%;
  }
  100% {
    max-width: 100%;
  }
}
@keyframes portal {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    width: 10px;
  }
  70% {
    width: 20px;
  }
  90% {
    opacity: 1;
  }
  99% {
    width: 30px;
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dissapear {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes walking {
  0%, 99% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(3px);
  }
  50% {
    transform: translateX(10px);
  }
  98% {
    transform: translateX(35px);
    opacity: 1;
  }
}
@keyframes runnin {
  0%, 99% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  15% {
    transform: translateX(0px);
  }
  98% {
    opacity: 1;
    transform: translateX(5vw);
  }
}
@keyframes kick {
  0%, 99% {
    opacity: 0;
  }
  1%, 98% {
    opacity: 1;
  }
  2%, 100% {
    transform: translateX(6.5vw);
  }
}
@keyframes kick_mobile {
  0%, 99% {
    opacity: 0;
  }
  1%, 98% {
    opacity: 1;
  }
  2%, 100% {
    transform: translateX(30px);
  }
}
@keyframes fall {
  0%, 95% {
    opacity: 0;
  }
  1%, 94% {
    opacity: 1;
  }
  10% {
    transform: translate(-5vw, 1vh);
  }
  50% {
    transform: translate(7vw, 15vh);
    rotate: 360deg;
  }
  100% {
    transform: translate(7vw, 15vh);
    rotate: 360deg;
  }
}
@keyframes fall_mobile {
  0%, 95% {
    opacity: 0;
  }
  1%, 94% {
    opacity: 1;
  }
  50% {
    rotate: 360deg;
    transform: translate(200px, 15vh);
  }
  100% {
    rotate: 360deg;
    transform: translate(200px, 15vh);
  }
}
@keyframes glow {
  0% {
    scale: 1;
  }
  10% {
    font-size: 50px;
    opacity: 1;
  }
  50% {
    transform: scale(3);
  }
  100% {
    opacity: 1;
    transform: scale(5);
  }
}
@keyframes appear {
  0% {
    font-size: 1px;
    opacity: 0;
  }
  75% {
    font-size: 7px;
    opacity: 0.5;
  }
  100% {
    font-size: 12px;
    opacity: 1;
  }
}
@keyframes showtxt {
  0% {
    transform: translateX(-100%);
    width: 100%;
  }
  40% {
    width: 0%;
    opacity: 0.6;
  }
  100% {
    width: 0%;
    opacity: 0.3;
  }
}
@keyframes showtxt2 {
  0% {
    transform: translate(-70%, -50%);
    width: 100vw;
    height: 300px;
  }
  100% {
    opacity: 0.3;
    transform: translate(-70%, -50%);
    width: 100vw;
    height: 300px;
  }
}
.loading-container {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 15, 5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease;
}
.loading-container .light {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 20%;
  right: 20%;
  rotate: -35deg;
  background: radial-gradient(ellipse, rgba(255, 240, 200, 0.7) 0%, rgba(255, 230, 180, 0.4) 30%, rgba(255, 210, 140, 0.2) 60%, transparent 90%);
  transform: translateX(-50%) scale(1.8);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -10px 20px rgba(255, 240, 200, 0.5), 0 0 80px rgba(255, 240, 200, 0.8);
}
@media (max-width: 1012px) {
  .loading-container .light {
    top: 0;
    right: 0;
  }
}
.loading-container .bot {
  top: 80%;
  right: -50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -10px 20px rgba(255, 240, 200, 0.5), 0 0 20px rgba(255, 240, 200, 0.8);
}
@media (max-width: 1279px) {
  .loading-container .bot {
    display: none;
  }
}
.loading-container .footer_loadingScreen {
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 50vw;
  max-width: 600px;
  width: 80%;
  flex-wrap: nowrap;
  transform: translateX(-50%);
  font-family: Avenir;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: #f2f2f2;
}
@media (max-width: 750px) {
  .loading-container .footer_loadingScreen {
    max-width: 350px;
  }
}
@media (max-width: 425px) {
  .loading-container .footer_loadingScreen {
    max-width: 250px;
  }
}
.loading-container .footer_loadingScreen .hide {
  background-color: rgb(18, 15, 5);
  position: absolute;
  height: 25px;
  width: 0;
  animation: showtxt 10s ease-in;
}
@media (max-width: 750px) {
  .loading-container .footer_loadingScreen .hide {
    animation: showtxt2 10s ease-in;
  }
}
.loading-container .header-txt {
  width: 350px;
  position: absolute;
  top: 100px;
  left: 50vw;
  transform: translateX(-50%);
  font-family: Avenir;
  letter-spacing: 0.05em;
  font-size: 24px;
  color: #f2f2f2;
  opacity: 0.9;
}
@media (max-width: 500px) {
  .loading-container .header-txt {
    font-size: 20px;
    transform: translateX(-40%);
  }
}
.loading-container .x {
  position: relative;
  transform: translate(7vw, calc(15vh + 30px + 47.5px));
  color: white;
  opacity: 0;
  animation: glow 2s forwards;
  animation-delay: 17s;
  font-family: Creepster;
  letter-spacing: 0.05em;
  font-size: 20px;
  color: white;
}
@media (max-width: 1300px) {
  .loading-container .x {
    transform: translate(10vw, calc(15vh + 30px + 47.5px));
  }
}
@media (max-width: 1100px) {
  .loading-container .x {
    transform: translate(15vw, calc(15vh + 30px + 47.5px));
  }
}
@media (max-width: 500px) {
  .loading-container .x {
    transform: translate(100px, calc(15vh + 30px + 47.5px));
  }
}
.loading-container .x::after {
  content: "eLa";
  font-family: Creepster;
  letter-spacing: 0.05em;
  font-size: 12px;
  color: white;
  animation: appear 2s forwards;
  animation-delay: 19s;
  text-decoration: underline;
  opacity: 0;
}
.loading-container .stick-man {
  width: 100%;
  max-width: 23vw;
  min-width: 200px;
  height: 85px;
}
.loading-container .stick-man .portal {
  width: 10px;
  height: 45px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-image: radial-gradient(#7d7d7d, white, #c6c6c6, white);
  position: relative;
  left: 4px;
  transform: translateY(40px);
  animation: portal 3s forwards;
}
.loading-container .stick-man .stickman {
  width: 40px;
  height: 40px;
  filter: invert(85%);
  position: relative;
  opacity: 0;
}
.loading-container .stick-man #stickman-pc {
  place-self: center;
  transform: translateX(5vw);
  animation: dissapear 15s forwards;
}
@media (max-width: 950px) {
  .loading-container .stick-man #stickman-pc {
    transform: translateX(0);
  }
}
.loading-container .stick-man #stickman-walker {
  animation: walking 5s forwards;
  animation-delay: 1.5s;
  z-index: 51;
}
.loading-container .stick-man #stickman-runner {
  animation: runnin 9s forwards;
  animation-delay: 5.49s;
}
.loading-container .stick-man #stickman-kungfu {
  transform: translateX(3.5vw);
  animation: kick 2s forwards;
  animation-delay: 14.5s;
}
@media (max-width: 950px) {
  .loading-container .stick-man #stickman-kungfu {
    transform: translateX(-100%);
    animation: kick_mobile 2s forwards;
    animation-delay: 14.5s;
  }
}
.loading-container .stick-man #stickman-ouch {
  animation: fall 3s forwards;
  animation-delay: 14.7s;
  transform: translateX(-3vw);
  rotate: 180deg;
}
@media (max-width: 940px) {
  .loading-container .stick-man #stickman-ouch {
    rotate: 180deg;
    transform: translate(-150px, 25px);
    animation: fall_mobile 3s forwards;
    animation-delay: 14.7s;
  }
}

.progress-bar-main-container {
  width: 100%;
  max-width: 30vw;
  min-width: 250px;
  background-color: rgb(18, 15, 7);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}
.progress-bar-main-container .bar {
  width: 100%;
  max-width: 80%;
  height: 30px;
  padding: 4px;
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px rgba(59, 59, 59, 0.9);
}
.progress-bar-main-container .bar h2 {
  margin-top: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Bouncy;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: #7d7d7d;
}
.progress-bar-main-container .bar .mainBar {
  width: 100%;
  max-width: 0;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  animation: animate 15s forwards;
  animation-delay: 3.33s;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */